.filter-form {
    padding-left: 0px !important;
    padding-top: 60px;
    padding-right: 0px !important;
    padding-bottom: 60px;
    margin: 0px;
    max-width: 60%;
}

.form-label {
    font-weight: 700;
}

.language-dropdown {
    padding-top: 32px;
}